.triend-score {
    background-image: url("../imgs/triend-score-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: max-content;
    background-size: contain;
    padding: 1.5em;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 0;
}


/* The Modal (background) */
#triend-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Container styles */
body {
  background-color: #fff;
  color: #333;
}


.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  border: 20px solid transparent;
  border-radius: 100px;
  line-height: 50px;
}

.circle-contain {
  width:200px;
  height:200px;
}

.triend-arrow {
  left: 4.2rem;
  right: 4.2rem;
  position: absolute;
  bottom: -1rem;
}

/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: #00FFCF;
}

.css {
  top: 55px;
  left: 48px;
}

.css + svg .outer {
  stroke: #FF00E5;
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: #F6EE24;
}

.node {
  width: 200px;
  height: 200px;
  top: 45px;
  left: 45px;
}

.node + svg .outer {
  stroke: #83cd29;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 10;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}


/* END Circle colors and graphic positions */




*, ::after, ::before {
  box-sizing: content-box !important;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}